@media (min-width: 375px) and (max-width: 576px) {
    #Footer-part {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-head h3 {
        font-size: 24px;
        font-weight: 500;
    }

    .left-head h3{
        font-size: 18px;
    }

    .left-text p{
        font-size: 14px;
    }

    .map {
        display: none;
    }
}